#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem 2rem 2rem;
  text-align: center;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.productItem {
  border: 2px solid #4f6c75;
  border-radius: 8px;
  padding: 16px;
  max-width: 200px;
  text-align: center;
  background-color: #77a1af;
}

.productItem img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.countdown {
  font-size: 100px;
  margin: 0pc auto;
  background-color: #ba5e00;
  border-radius: 10px;
  border: 2px solid #814100;
}

.countdownDescription p {
  font-size: 20px;
  margin: 0px auto;
}

.countdownDescription {
  margin-bottom: 20px;
}

.countdownDescription .description {
  margin-top: -30px;
  display: flex;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.hidden p {
  margin-top: 0px;
}

.icon {
  height: 30px;
}
