.form,
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em;
}

.section {
  border: 1px solid white;
  padding: 1em;
}
.productListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.productListContainer h2 {
  cursor: pointer;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.product {
  cursor: pointer;
}

.selected {
    background-color: #ba5e00;
}