.form,
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em;
}

.section {
  border: 1px solid white;
  padding: 1em;
}
.productListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
